{% extends 'base.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
  {{ navbar('/', user) }}
  <div class="container-fluid">
    <h2 class="text-center mt-2">Bienvenid@, <b>{{ user.name }}</b></h2>
    <div class="row">
      <div class="col-12 d-flex justify-content-center py-4">
        <div class="card w-25 text-center shadow border border-0">
          <div class="d-flex justify-content-center py-2">
            <img src="/images/web/quiz.png" alt="Imagen de quiz">
          </div>
          <div class="card-body">
            <a href="/lets_play" class="btn btn-primary mt-1 shadow">Jugar!</a>
            <small class="card-text d-block fw-bold mt-1">Click para iniciar la trivia</small>
          </div>
        </div>
      </div>
      <div class="col-10 mx-auto d-flex justify-content-end">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Dato a buscar..." aria-label="Search">
          <button class="btn btn-outline-primary border border-1 shadow" type="submit">Buscar</button>
        </form>
      </div>
      <div class="col-10 mx-auto py-4">
        <div class="table-responsive">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Porcentaje</th>
              </tr>
            </thead>
            <tbody>
              {% for game in games%}
                <tr>
                  <td class="fw-bold">{{game.name}}</td>
                  <td class="fw-bold">{{game.score}}</td>
                  {% if game.percentage > 34 %}
                    <td class="fw-bold text-success">{{game.percentage}}%</td>
                  {% else %}
                    <td class="fw-bold text-danger">{{game.percentage}}%</td>
                  {% endif %}
                </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}